@import "../../../components/Reponsive/Responsive.scss";
.content-component {
  text-align: center;
  min-height: 120;
  line-height: 20px;
  color: #fff;
  background: url("../../../assets//images/bgr.png");
  margin: 0 auto;
  width: var(--width);
  @include mobile {
    width: -webkit-fill-available;
  }
}
