@import "../../../../components/Reponsive/Responsive.scss";

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.sliderHome {
  .swiper-button-next,
  .swiper-button-prev,
  .swiper-pagination {
    display: none;
  }
}

@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.swiper-slide span {
  color: white;
  text-align: center;
  width: 80%;
  z-index: 10;
  opacity: 0;
}

.swiper-slide button {
  color: white;
  text-align: center;
  width: 20%;
  z-index: 10;
  opacity: 0;
}
.swiper-slide span:nth-child(1) {
  font-size: 25px;

  font-weight: bold;
  animation: slideInFromLeft 1s ease forwards;
  animation-delay: 0.3s;
  @include mobile {
    font-size: 23px;
  }
}
.swiper-slide span:nth-child(2) {
  font-size: 20px;
  animation: slideInFromLeft 1s ease forwards;
  animation-delay: 0.5s;
}

.swiper-slide span:nth-child(3) {
  font-size: 46px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  padding: 10px;
  font-weight: bold;
  animation: slideInFromRight 1s ease forwards;
  animation-delay: 1s;
  @include mobile {
    font-size: 35px;
  }
}

.swiper-slide span:nth-child(4) {
  font-size: 46px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
  padding: 10px;
  font-weight: bold;
  animation: slideInFromRight 1s ease forwards;
  animation-delay: 1s;
  @include mobile {
    font-size: 35px;
  }
}
.swiper-slide span:nth-child(5) {
  padding: 20px;
  font-size: 16px;
  animation: slideInFromLeft 1s ease forwards;
  animation-delay: 1.5s;
}
.swiper-slide button {
  background-color: #a0522d;
  font-weight: 700;
  border: none;
  cursor: pointer;
  animation: slideInFromBottom 1s ease forwards;
  animation-delay: 2s;
  transition: background 0.3s, color 0.3s;
}

.sliderHome button:hover::before {
  transform: translateX(0);
}

.sliderHome button::before,
.sliderHome button::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 50%;
  transition: transform 0.3s;
}

.sliderHome button::before {
  top: 0;
  left: 0;
  background: #cc5500;
  transform: translateY(-100%);
}

.sliderHome button::after {
  bottom: 0;
  left: 0;
  background: #a9a9a9;
  transform: translateY(100%);
}

.sliderHome button:hover::before {
  transform: translateY(0);
}

.sliderHome button:hover::after {
  transform: translateY(0);
}
