.footer-component {
  background: url("../../../assets/images/image2.png");

  color: #fff;
  .footer-row {
    text-align: center;
    min-height: 120;
    line-height: 120px;
    color: #fff;
    background-color: rgb(185, 177, 177);
    margin: 0 auto;
    width: 1020px;
  }
}
