.footer-component {
  background-color: #232b31;

  color: #fff;
  .footer-component-row {
    margin: 0 auto;
    max-width: var(--width);
    .anticon {
      color: #9a563a;
    }
  }
  .footer-component-row span {
    margin: 0 auto;
    max-width: var(--width);
    padding-left: 10px;
    font-family: "DM Sans", Sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    line-height: 16px;
    color: #bebebe;
  }
}
