body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.sliderHome {
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
}

@keyframes slideInFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInFromRight {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideInFromBottom {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.swiper-slide span {
  position: absolute;
  color: white;
  text-align: center;
  width: 80%;
  z-index: 10;
  opacity: 0;
}

.swiper-slide button {
  position: absolute;
  color: white;
  text-align: center;
  width: 20%;
  z-index: 10;
  opacity: 0;
}

.swiper-slide span:nth-child(1) {
  top: 10%;
  font-size: 26px;
  animation: slideInFromLeft 1s ease forwards;
  animation-delay: 0.5s;
}

.swiper-slide span:nth-child(2) {
  top: 25%;
  font-size: 46px;
  font-weight: bold;
  animation: slideInFromRight 1s ease forwards;
  animation-delay: 1s;
}

.swiper-slide span:nth-child(3) {
  top: 40%;
  font-size: 46px;
  font-weight: bold;
  animation: slideInFromRight 1s ease forwards;
  animation-delay: 1s;
}
.swiper-slide span:nth-child(4) {
  top: 65%;
  width: 80%;
  font-size: 16px;
  animation: slideInFromLeft 1s ease forwards;
  animation-delay: 1.5s;
}
.swiper-slide button {
  top: 85%;
  padding: 10px 20px;
  background-color: #a0522d;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  animation: slideInFromBottom 1s ease forwards;
  animation-delay: 2s;
}
